.proview-search {
	padding: 0 5rem;

	&-section {
		padding: 1rem 0;

		&:first-child {
			padding-top: 3rem;
		}

		&:last-child {
			padding-bottom: 3rem;
		}

		&_title {
			font-size: 1.75rem;
			font-family: BrownBold;
			padding-bottom: 0.75rem;
		}

		&-subsection {
			padding-top: 2.5rem;

			&--books {
				padding-top: 0;
			}

			&_title {
				font-size: 1.25rem;
				font-family: BrownBold;
			}

			&_nf {
				font-size: 1.15rem;
			}
		}
	}
}
