// primary colors
$color-white: #fff;
$color-black: #000;

// custom colors
$color-primary: #4356e5;
$color-tundora: #414141;
$color-lemon-grass: #989586;
$color-tapa: #73726c;
$color-spring-wood: #fbfbf8;
$color-shark: #2f3132;
$color-nevada: #697172;
$color-vanilla-ice: #f3d2d7;
$color-congo-brown: #523439;
$color-alto: #c5c5c5;
