// primary colors
$color-white: #fff;
$color-black: #000;

// custom colors
$color-primary: #4356e5;
$color-tundora: #414141;
$color-lemon-grass: #989586;
$color-tapa: #73726c;
$color-spring-wood: #fbfbf8;
