.resource-card {
	width: 20rem;

	&:not(:first-child) {
		margin-left: 2rem;
	}

	&-title {
		display: flex;
		align-items: center;
	}

	&-rating {
		margin-left: 1rem;
	}

	&-image {
		height: 17rem;

		&.MuiCardMedia-root {
			background-size: cover;
			background-position: left top;
		}
	}

	& &-content {
		padding: 1.5rem 2rem;
	}

	&-field {
		font-size: 1rem;
		padding: 0.25rem 0;

		&--genres {
			color: $color-tapa;
		}
	}
}
