.result-card {
	padding: 1.5rem 0;

	& > .resource-card {
		width: 100%;

		& > button {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;

			& .ant-image {
				display: flex;
				align-items: center;
				height: 18rem;
				width: 12rem;

				& img {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			& > .MuiCardContent-root {
				flex: 1 1 auto;
			}
		}
	}
}

@media (max-width: 575px) {
	.result-card {
		& > .resource-card {
			& > button {
				flex-direction: column;
				align-items: center;

				& .ant-image {
					width: 100%;
				}
			}
		}
	}
}
